 <style>
            body{
                background-color: black;
            }
            h1{
                color:white;
            }
            p{
                color:white;
                background-color: gray;
            }
        </style>